/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 * // Configure your import map in config/importmap.rb
 * // Read more: https://github.com/rails/importmap-rails

 */

 

 @import "@hotwired/turbo-rails";

 @import "bootstrap";
 @import "font-awesome";
 @import "stripe";
 @import "controllers"



 .blue-text {
  color: blue;
}

.red-text {
  color: red;
}

.modal {
  display: none; /* Escondido por padrão */
  position: fixed; /* Fica fixo na tela */
  z-index: 1; /* Fica acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  overflow: auto; /* Permite rolagem se necessário */
  background-color: rgb(0,0,0); /* Cor de fundo */
  background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% do topo e centralizado */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largura do modal */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}